body {
    background-color: #fafafa;
}

.skeleton-row {
    margin-bottom: 15px;
}

@keyframes modal {
    0% {
      opacity: 0;
      transform: scale(1.2);
    }
    100% {
      opacity: 1;
      transform:scale(1);
    }
  }
  
.post__modal,
.follow__modal {
    animation: modal .1s ease-out;
}

.modal__label {
    position: relative;
    top: -5px;
    font-size: 18px;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
    color: #262626;
    border-bottom: 1px solid lightgrey;
    width: calc(100% + 32px);
    left: -16px;
}

.modal__user {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 5px;
    position: relative;
}

.unfollowModal__header {
    margin: 20px;
    font-size: 14px;
}

.unfollowModal__header p {
    margin-top: 15px;
}

.unfollowModal__avatar {
    min-width: 50px;
    min-height: 50px;
}

.modal__btn {
    padding: 15px;
    border-top: 1px solid lightgrey;
    color: #262626;
    width: calc(100% + 34px);
    position: relative;
    left: -32px;
    font-size: 14px;
    font-weight: 400;
}

.modal__btn:hover {
    cursor: pointer;
}

.modal__btn:active {
    background-color: rgb(233, 233, 233);
}

.unfollowModal__unfollow-btn {
    font-weight: 700;
    color: #ed4956;
}

.unfollowModal__cancel-btn:active {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.user__main {
    background-color: #fafafa;
    height: 100vh;
    width: 100%;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.user__header {
    display: flex;
    align-items: stretch;
    flex-shrink: 0;
    max-width: 935px;
    color: #262626;
    margin: auto;
    margin-top: 85px;
    padding: 0 20px;
}

.header__left {
    margin-left: 70px;
}

.header__right {
    margin-left: 100px;
    width: 100%;
}

.right__name {
    display: flex;
}

.name__config {
    position: relative;
    top: 2px;
}

.left__avatar {
    min-width: 150px;
    min-height: 150px;
}

.right__username {
    font-weight: 200 !important;
    font-size: 28px !important;
}

#follow-btn {
    background-color: #0095f6;
    color: white;
    font-weight: 600;
    padding: 10px 25px 6px 25px;
    border: none;
    border-radius: 4px;
    outline: none;
    margin-left: 20px;
    position: relative;
    top: 6px;
}

.buttons__follow-btn:hover {
    cursor: pointer;
}

.buttons__follow-btn:focus {
    opacity: 0.7;
}

#edit-btn {
    display: inline;
    position: relative;
    height: 30px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    text-transform: capitalize;
    background: none;
    outline: none;
    font-weight: 600;
    font-size: 14px;
    padding: 4px 9px 6px 9px;
    margin-left: 20px;
    text-decoration: none;
    color: #262626;
}

#edit-btn:hover
#message-btn:hover {
    text-decoration: none;
    cursor: pointer;
}

.config__editBtn:focus {
    color: #2626269a;
}
#message-btn,
#unfollow-btn,
#arrow-btn {
    display: inline;
    position: relative;
    top: 6px;
    height: 30px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    text-transform: capitalize;
    background: none;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    font-weight: 600;
    font-size: 14px;
    padding: 5px 9px 6px 9px;
    margin-left: 20px;
    text-decoration: none;
    color: #262626;
}

#unfollow-btn,
#arrow-btn {
    margin-left: 2px;
}

.right__button {
    display: flex;
}

.right__buttons button:hover {
    cursor: pointer;
}

#unfollow-btn {
    width: 74px;
    padding: 0;
    position: relative;
    top: 0;
}

#unfollow-icon {
    background-image: url("../../img/images-sprite-2.png");
    background-position: -492px -207px;
    background-size: 544px 520px;
    width: 24px;
    height: 12px;
    margin: auto;
    position: absolute;
    top: 8px;
    left: 27px;
}

#message-btn:active,
#unfollow-btn:active,
#arrow-btn:active {
    color: #2626269a;
}

.config__settingsBtn {
    color: #262626;
    margin-left: 12px;
    position: relative;
    top: 7px;
}

.config__settingsBtn:hover {
    cursor: pointer;
}

#postCount:hover {
    cursor: text;
}

.header__top-info {
    display: flex;
    margin-top: 4px;
}

.top-info__info-item {
    margin-top: 15px;
    margin-right: 50px;
}

.top-info__info-item:hover {
    cursor: pointer;
}

.info-item__info-num {
    font-weight: 600;
}

.info-item__word {
    padding-left: 5px;
}

.header__details {
    margin-left: 20px;
    font-size: 14px;
}

.header__name {
    margin-top: 20px;
    font-weight: 600;
}

.header__bio {
    margin-top: 2px;
    color: #262626;
}

.header__website {
    text-decoration: none;
    font-weight: 600;
    color: #00376b;
    position: relative;
    top: 2px;
}

.content__nav {
    display: flex;
    justify-content: center;
    border-top: 1px solid lightgrey;
    max-width: 935px;
    margin: auto;
    margin-top: 60px;
}

.content__nav a {
    position: relative;
    text-decoration: none;
    color: rgb(177, 177, 177);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 40px;
    margin-top: 0;
    padding: 15px;
    top: -1px;
}

#active {
    color: #262626 !important;
    border-top: 1px solid #262626; 
}

.user__posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 28px;
    max-width: 935px;
    margin: auto;
    padding: 0 20px;
    padding-bottom: 50px;
}

.user__posts div {
    position: relative;
    max-height: 293px;
    max-width: 293px;
    aspect-ratio: 1;
    -webkit-aspect-ratio: 1;
}

.user__posts div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#post__shade {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    aspect-ratio: 0;
    -webkit-aspect-ratio: 0;
    opacity: 0;
}

#post__shade:hover {
    background-color: #0000003f;
    cursor: pointer;
    opacity: 1;
}

#shade__info {
    display: flex;
    max-height: 293px;
    align-items: center;
}

#info__likes,
#info__comments {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fafafa;
    font-weight: 600;
    margin: 0 10px;
    z-index: 2
}

#info__like-icon {
    background-image: url('../../img/images-sprite-2.png');
    background-position: -484px -375px;
    background-size: 544px 520px;
    width: 16px;
    height: 16px;
}

#info__comment-icon {
    background-image: url('../../img/images-sprite-2.png');
    background-position: -500px -107px;
    background-size: 544px 520px;
    width: 16px;
    height: 16px;
}

#info__count {
    padding-left: 10px;
    height: 20px;
}

@media screen and (max-width: 768px) {

    body {
        background-color: white !important;
    }

    .user__main {
        width: 100vw;
        background-color: white !important;
    }

    .user__header {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 70px;
        width: 100vw;
        padding: 0;
    }

    .header__left {
        width: 77px;
        height: 77px;
        margin: 0;
        margin-left: 20px;
    }

    .left__avatar {
        min-width: 77px;
        min-height: 77px;
    }

    .header__right {
        margin: 0;
        margin-left: 30px;
        max-width: 200px;
    }

    .right__username {
        margin-bottom: 5px;
    }

    .right__name {
        flex-direction: column;
    }

    .name__config {
        width: 100%;
    }

    #edit-btn {
        margin-left: 0;
        flex-grow: 1;
        padding-left: 60px;
        padding-right: 60px;
    }

    .config__settingsBtn {
        display: none;
    }

    #message-btn,
    #follow-btn {
        margin-left: 0;
    }

    #follow-btn {
        font-size: 14px;
        padding-top: 7px;
    }

    .header__top-info {
        width: 100vw;
        display: flex;
        justify-content: space-around;
        border-top: 1px solid lightgrey;
        position: relative;
        top: 10px;
    }

    .top-info__info-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        margin-right: 0;
        font-size: 14px;
    }

    .info-item__info-word {
        color: #8e8e8e;
    }

    .content__nav {
        justify-content: space-between;
        width: 100vw;
        margin: 0;
        margin-top: 20px;
    }

    .content__nav a {
        margin: 0;
    }

    .user__posts {
        width: 100vw;
        grid-gap: 2px 2px;
        padding: 0;
    }

    .user__posts div {
        max-width: auto;
        max-height: auto;
        aspect-ratio: 1;
        -webkit-aspect-ratio: 1;
    }

    #post__shade:hover {
        opacity: 0;
    }
}

