.userEdit__wrapper {
    position: relative;
    top: 85px;
    background-color: white;
    color: #262626;
    display: flex;
    border: 1px solid lightgrey;
    border-radius: 3px;
    max-width: 935px;
    margin: auto;
}

.userEdit__left {
    border-right: 1px solid lightgrey;
    flex-basis: 236px;
    flex-grow: 0;
    flex-shrink: 0;
}

.left__nav {
    padding: 0;
}

.left__navItem {
    display: block;
    list-style-type: none;
    padding: 15px 32px;
    width: auto;
}

.left__navItem:last-child {
    color: #0095f6;
    font-weight: 600;
}

.left__navItem:last-child:hover {
    color: #0095f6;
    font-weight: 600;
    cursor: pointer;
}

.left__navItem:not(:first-child):not(:last-child):hover {
    cursor: pointer;
    background-color: rgba(235, 235, 235, 0.4);
    border-left: 2px solid rgba(199, 199, 199, 0.705);
}

.navItem__selected {
    border-left: 2px solid #262626;
    font-weight: 600;
}

.navItem__selected {
    cursor: pointer;
}

.user__right {
    color: #262626;
}

.right__top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 5px;
}

.right__top * div {
    margin-right: 32px;
    margin-left: 124px;
}

.top__avatar:hover {
    cursor: pointer;
}

.right__username {
    font-size: 20px !important;
    font-weight: 400 !important;
}

.right__changeProfileBtn {
    color: #0095f6;
    font-weight: 600;
    font-size: 14px;
}

.right__changeProfileBtn:hover {
    cursor: pointer;
}

.userEdit__form {
    display: flex;
    flex-direction: column;
}

.form__item {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.item__aside {
    flex-basis: 194px;
    text-align: right;
    padding-right: 32px;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    left: -30px;
}

.item__aside label {
    position: relative;
    top: 3px;
}

.item__input {
    flex-basis: 355px;
    flex-direction: row;
    position: relative;
    left: -30px;
}

.item__inputField {
    width: 100%;
    padding: 7px;
    font-size: 16px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.item__inputField::placeholder {
    color: rgb(179, 179, 179);
    font-weight: 100;
}

.item__note {
    font-size: 12px;
    color: #999;
    margin-top: 10px;
    margin-bottom: 20px;
}

.item__input {
    color: #262626;
}

#bio {
    resize: vertical;
    min-height: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form__submitBtn {
    width: 65px;
    background-color: #0095f6;
    color: white;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 8px 10px;
    text-align: center;
}

.form__submitBtn:hover {
    cursor: pointer;
}

.app__modal h5 {
    padding: 15px;
    border-bottom: 1px solid lightgrey;
    font-weight: 700;
    font-size: 14px;
    width: calc(100% + 34px);
    position: relative;
    left: -32px;
}

.app__modal h4 {
    margin: 0;
}

.app__modalLabel {
    padding-bottom: 25px;
    position: relative;
    top: 5px;
    font-size: 18px;
}

.editModal__uploadBtn {
    color: #0095f6;
    margin-top: 5px;
}

.editModal__uploadBtn:hover,
.editModal__removeBtn:hover,
.editModal__cancelBtn:hover {
    cursor: pointer;
}

.editModal__uploadBtn:active,
.editModal__removeBtn:active,
.editModal__cancelBtn:active {
    background-color: rgb(233, 233, 233);
}

.editModal__cancelBtn:active {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.editModal__removeBtn {
    color: #ed4956;
}

.editModal__cancelBtn {
    font-weight: 400 !important;
    border-bottom: none !important;
    color: #262626;
}

@media screen and (max-width: 768px) {

    .userEdit__left {
        display: none;
        align-items: flex-start;
    }

    .userEdit__right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .right__top:first-child div {
        margin-left: 20px;
    }

}