.app__user {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 330px;
}

.displayUser__avatar {
    min-width: 56px;
    min-height: 56px;
    margin-right: 18px;
}

.displayUser__username, .displayUser__name {
    font-weight: 500;
    font-size: 14px;
}

.displayUser__username {
    color: #262626;
    text-decoration: none;
}

.displayUser__name {
    font-weight: 400;
    color: #8e8e8e;
}

@media screen and (max-width: 1000px) {
    .app__user,
    .app__menu,
    .app__copyright {
        display: none;
    }
}