.postsWrapper__noPosts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-top: 15%;
}

.noPosts__image {
    background-image: url('../../img/images-sprite-2.png');
    background-position: 895px 382px;
    width: 194px;
    height: 194px;
}

.noPosts__header {
    font-size: 30px;
    font-weight: 300;
    margin: 20px 0;
}