.suggestionsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    color: #262626;
}

.suggestionsWrapper__heading {
    display: inline;
    font-weight: 500;
    width: 37%;
    align-self: start;
    margin: auto;
    margin-bottom: 5px;
}

.suggestionsPage {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    min-width: 37%;
}

.suggestionsPage__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.suggestionsPage__item:not(:last-of-type) {
    margin-bottom: 10px;
}

.item__left {
    display: flex;
}

.item__avatar {
    min-width: 44px;
    min-height: 44px;
}

.item__names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    line-height: 20px;
}

.names__username {
    font-size: 0.9rem;
    font-weight: 600;
}

.names__fullName {
    font-size: 0.9rem;
    color: #8e8e8e;
}

.item__username:hover {
    text-decoration: underline;
}

.item__followBtn {
    background-color: #0095F6;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 7px 10px;
}

.item__unfollowBtn {
    background-color: white;
    color: #262626;
    border: 1px solid #dbdbdb;
    font-weight: 600;
    border-radius: 5px;
    padding: 7px 10px;
}

.item__followBtn:hover,
.item__unfollowBtn:hover {
    cursor: pointer;
}

@media screen and (max-width: 600px) {

    .suggestionsWrapper {
        margin-top: 47px;
        background-color: white !important;
        align-items: start;
        justify-content: space-between;
    }

    .suggestionsWrapper__heading {
        width: 100%;
        font-weight: 600;
        padding: 15px 0 0 14px;
        margin: 0;
    }

    .suggestionsPage {
        min-width: 100%;
        padding: 7px;
    }

    .suggestionsPage__item {
        padding: 10px 8px 0 10px;
    }

    .item__followBtn {
        font-size: 0.85rem;
    }

    .item__unfollowBtn {
        font-size: 0.9rem;
    }

}