* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {

  .app {
    background-color: white;
  }

}


.app__globalWrapper {
  max-width: 935px;
  margin: auto;
  padding-top: 75px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.app__contentWrapper {
  margin: 0;
  width: 65.5%;
}

.app__postsWrapper {
  margin: auto;
  margin-top: 10px;
}

@media screen and (max-width: 1000px) {

  .app__globalWrapper {
    justify-content: center;
  }

}

@media screen and (max-width: 500px) {

  body {
    background-color: white;
  }

  .app {
    width: 100vw;
    background-color: white;
  }

  .app__header {
    width: 100vw;
    height: 54px;
  }

  .app__globalWrapper {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    margin: 0;
    padding-top: 50px;
    border: none;
  }

  .app__contentWrapper {
    width: 100vw;
    margin: 0;
  }

  .app__postsWrapper {
    margin: 0;
  }

  .app__headerWrapper {
    margin: 0 15px;
  }

  .app__headerSearch {
    display: none;
  }

  .app__aside {
    display: none;
  }

  .app__sidebar {
    width: auto;
  }

}