.story {
    padding: 0 4px;
}

.avatar__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link__circle {
    position: relative;
}

.link__circle svg {
    position: absolute;
    fill: none;
    stroke: #8a3ab9;
    stroke-width: 3;
    /* stroke-dasharray: 1;
    stroke-dashoffset: 0; */
    /* animation: stroke-draw 6s ease-out infinite alternate; */
}

.link__avatar {
    width: 56px !important;
    height: 56px !important;
    margin: 8px;
}

.link__username {
    font-size: 0.8rem;
}

@keyframes stroke-draw {
    from{
      stroke:#8a3ab9;
      stroke-dasharray: 1;
    }
    to{
      stroke:#cd486b;
      transform:rotate(180deg);
      stroke-dasharray: 8;
    }
  }